@charset "UTF-8";
body{
  background-color: #b3d0d7
}

#mainarea{
  color: #00a55d;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#prof{
  font-family: cursive;
  text-align: center;
  color: #00a55d;
  font-size: 20px;
  margin-top: 50px;
}

#info{
  text-align: left;
}

h1{
  font-family:  cursive;
  font-size: 40px;
}

h2{
  font-family: cursive;
}

img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}
